<html>
    <head>
        <link rel="stylesheet" href='/static/styles.css' />
    </head>

    <body>
        <h1>My Math Calculator</h1>

        <form method="POST">
            <table>
                <tr>
                    <td>Enter a list of numbers separated by a space:</td>
                    <td><input type="text" name="num_list"></td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Calculate">
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>